@font-face {
  font-family: 'YekanBakh';
  src: url("../public/assets/fonts/YekanBakh-Regular.ttf") format('ttf'),
  url('../public/assets/fonts/YekanBakhFaNum-Regular.otf') format('otf'),
  url('../public/assets/fonts/YekanBakhFaNum-Regular.woff') format('woff'),
  url('../public/assets/fonts/YekanBakhFaNum-Regular.woff2') format('woff2');

}


* , html , body , a {
  font-family:'YekanBakh';
}

